<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="nav.js"></script>
</head>
<body>

 

    <div class="container jumbo">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
       <div class="container">
  <h2>FEEDBACK FORM</h2>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">USERNAME:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Enter username" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">email:</label>
      <div class="col-sm-10">          
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
	  <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">feedback:</label>
      <div class="col-sm-10">          
    
		<textarea type="text" class="form-control" placeholder="Enter Message" rows="5" id="comment"></textarea>
      </div>
    </div>
   
    <div class="form-group">   
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
      </div>

    </div> <!-- /container -->
<div class="container">
  <p>See full live action implemented in our site, <a href="https://reezhdesign.com" rel="author">ReeZh Design</a></p>
</div>







</body>
</html>

